---
- hosts: localhost
  any_errors_fatal: true
  vars:
    huge_pages_setting: never
    swappiness_factor: 10
    cache_pressure_factor: 50
    swap_size: 8G
    setup_swap: false
    setup_limits: false
    postgresql_version: 12
    postgresql_user: postgres
    postgresql_db_name: radixdlt_ledger
  tasks:
    - block:
        - name: Run whoami without become.
          command: whoami
          changed_when: false
          become: false
          register: whoami


        - name: configure system settings, file descriptors and number of threads
          pam_limits:
            domain: "{{whoami.stdout}}"
            limit_type: "{{item.limit_type}}"
            limit_item: "{{item.limit_item}}"
            value: "{{item.value}}"
          with_items:
            - { limit_type: '-', limit_item: 'nofile', value: 65536 }
            - { limit_type: '-', limit_item: 'nproc', value: 65536 }
            - { limit_type: 'soft', limit_item: 'memlock', value: unlimited }
            - { limit_type: 'hard', limit_item: 'memlock', value: unlimited }
        - name: reload settings from all system configuration files
          shell: sysctl --system
      tags: [ulimits]
      become: true
      when: setup_limits | bool

    - block:
      - name: check swapfile exists
        shell: |
          swapon --show | grep "/swapfile"
        register: swapfile
        changed_when: false
        ignore_errors: true


      - name: setup swap file
        shell: |
          fallocate -l {{swap_size}} /swapfile
          chmod 600 /swapfile
          mkswap /swapfile
          swapon /swapfile
          cp /etc/fstab /etc/fstab_{{ansible_date_time.iso8601_basic_short}}.bak
          echo '/swapfile none swap sw 0 0' | sudo tee -a /etc/fstab
          sysctl vm.swappiness={{swappiness_factor}}
          echo "vm.swappiness={{swappiness_factor}}" >> /etc/sysctl.conf
          sysctl vm.vfs_cache_pressure={{cache_pressure_factor}}
          echo "vm.vfs_cache_pressure={{cache_pressure_factor}}" >> /etc/sysctl.conf
        when: swapfile.stdout == ""

      become: true
      when: setup_swap | bool

    - block:
        - name: install PostgreSQL
          ansible.builtin.package:
            name:
              - postgresql-{{ postgresql_version }}
              - postgresql-client-{{ postgresql_version }}
              - postgresql-contrib-{{ postgresql_version }}
              - acl
            state: present

        - name: Install psycopg2-binary python package
          ansible.builtin.pip:
            name: psycopg2-binary

        - name: change postgress password
          become: yes
          become_method: sudo
          become_user: "{{ postgresql_user }}"
          community.postgresql.postgresql_user:
            name: "{{ postgresql_user }}"
            password: "{{postgress_password}}"

        - name: Grant
          community.postgresql.postgresql_pg_hba:
            dest: /etc/postgresql/12/main/pg_hba.conf
            contype: host
            users: all
            source: 0.0.0.0/0
            databases: all
            method: md5

        - name: Configure PostgreSQL. Set listen_addresses.
          lineinfile: dest=/etc/postgresql/{{ postgresql_version }}/main/postgresql.conf
            regexp="listen_addresses =" line="listen_addresses = '*'" state=present

        - name: Configure PostgreSQL. Set checkpoint timeout.
          lineinfile: dest=/etc/postgresql/{{ postgresql_version }}/main/postgresql.conf
            regexp="checkpoint_timeout =" line="checkpoint_timeout = 15min" state=present

        - name: Configure PostgreSQL. Set max_wal_size timeout.
          lineinfile: dest=/etc/postgresql/{{ postgresql_version }}/main/postgresql.conf
            regexp="max_wal_size =" line="max_wal_size = 10GB" state=present

        - name: restart postgresql
          service: name=postgresql state=restarted enabled=yes

      become: true
      when: postgres_local | bool