{
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": "${prometheus}",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "target": {
          "limit": 100,
          "matchAny": false,
          "tags": [],
          "type": "dashboard"
        },
        "type": "dashboard"
      }
    ]
  },
  "description": "Main dashboard for the network gateway",
  "editable": true,
  "gnetId": null,
  "graphTooltip": 0,
  "id": 2,
  "iteration": 1655300502368,
  "links": [],
  "panels": [
    {
      "collapsed": false,
      "datasource": "${prometheus}",
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "id": 44,
      "panels": [],
      "title": "Data Aggregator",
      "type": "row"
    },
    {
      "datasource": "${prometheus}",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [
            {
              "options": {
                "0": {
                  "index": 1,
                  "text": "Unhealthy"
                },
                "1": {
                  "index": 0,
                  "text": "OK"
                }
              },
              "type": "value"
            },
            {
              "options": {
                "from": 0,
                "result": {
                  "index": 2,
                  "text": "Degraded"
                },
                "to": 1
              },
              "type": "range"
            }
          ],
          "max": 1,
          "min": 0,
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "yellow",
                "value": 20
              },
              {
                "color": "green",
                "value": 75
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 4,
        "w": 2,
        "x": 0,
        "y": 1
      },
      "id": 59,
      "options": {
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": true,
        "text": {}
      },
      "pluginVersion": "7.5.4",
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(aspnetcore_healthcheck_status{ name=\"database_connection_check\", container=\"data-aggregator\"}) / count(aspnetcore_healthcheck_status{ name=\"database_connection_check\", container=\"data-aggregator\"})",
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        }
      ],
      "title": "Database Connection",
      "type": "gauge"
    },
    {
      "datasource": "${prometheus}",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [
            {
              "options": {
                "0": {
                  "index": 1,
                  "text": "Unhealthy"
                },
                "1": {
                  "index": 0,
                  "text": "OK"
                }
              },
              "type": "value"
            },
            {
              "options": {
                "from": 0,
                "result": {
                  "index": 2,
                  "text": "Degraded"
                },
                "to": 1
              },
              "type": "range"
            }
          ],
          "max": 1,
          "min": 0,
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "yellow",
                "value": 20
              },
              {
                "color": "green",
                "value": 75
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 4,
        "w": 2,
        "x": 2,
        "y": 1
      },
      "id": 51,
      "options": {
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": true,
        "text": {}
      },
      "pluginVersion": "7.5.4",
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(aspnetcore_healthcheck_status{ name=\"aggregator_health_check\", container=\"data-aggregator\"}) / count(aspnetcore_healthcheck_status{ name=\"aggregator_health_check\", container=\"data-aggregator\"})",
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        }
      ],
      "title": "Health Check",
      "type": "gauge"
    },
    {
      "datasource": "${prometheus}",
      "description": "All three numbers are slightly different numbers to measure.\n\nLag at last commit measures the \"best case\", Lag at last loop start measures the \"current situation\" and \"Peak lag before last commit\" measures the worst case.\n \nA large number here indicates either a delay between network commit and the aggregator ingestion somewhere OR clock drift between the Data Aggregator and Network.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 9,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "yellow",
                "value": 8
              },
              {
                "color": "red",
                "value": 12
              }
            ]
          },
          "unit": "s"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Lag"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "green",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Worst case lag in interval"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "blue",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 12,
        "w": 8,
        "x": 4,
        "y": 1
      },
      "id": 46,
      "interval": "1s",
      "maxDataPoints": 100,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "multi",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "max(avg_over_time(ng_ledger_commit_peak_round_timestamp_data_aggregator_clock_delay_before_last_commit_seconds{container=\"data-aggregator\"}[$__interval]))",
          "hide": false,
          "interval": "",
          "legendFormat": "Avg peak lag before last commit",
          "refId": "C"
        }
      ],
      "title": "Time delay between Aggregator and Round Timestamp",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "Includes system transactions",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 9,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "tps"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Value"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "yellow",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "data-aggregator"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "green",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 12,
        "w": 6,
        "x": 12,
        "y": 1
      },
      "id": 48,
      "maxDataPoints": 300,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "hidden",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_ledger_commit_committed_transactions_count{ container=\"data-aggregator\"}[$__interval])) ",
          "interval": "",
          "legendFormat": "data-aggregator",
          "refId": "A"
        }
      ],
      "title": "Ingestion Rate",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "green",
                "value": 0.2
              }
            ]
          },
          "unit": "/s"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 12,
        "w": 6,
        "x": 18,
        "y": 1
      },
      "id": 50,
      "maxDataPoints": 300,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "hidden",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_ledger_commit_batch_commit_time_seconds_count{container=\"data-aggregator\", }[$__interval]))\n",
          "interval": "",
          "legendFormat": "{{pod}}",
          "refId": "A"
        }
      ],
      "title": "Ledger Batch Commit Rate",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "This number includes the time for the metrics to get to Grafana and render the dashboard! A time <10 seconds is expected.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "yellow",
                "value": 8.0003
              },
              {
                "color": "red",
                "value": 20.0002
              }
            ]
          },
          "unit": "s"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 4,
        "w": 4,
        "x": 0,
        "y": 5
      },
      "id": 70,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "last"
          ],
          "fields": "",
          "values": false
        },
        "text": {},
        "textMode": "auto"
      },
      "pluginVersion": "7.5.4",
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "(time() - (max(ng_ledger_commit_last_commit_timestamp_seconds{} > 0) OR (max(max_over_time(ng_ledger_commit_last_commit_timestamp_seconds{}[$__range]) > 0))))",
          "format": "table",
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        }
      ],
      "title": "Time since last DB Update",
      "type": "stat"
    },
    {
      "datasource": "${prometheus}",
      "description": "The number of nodes which are sufficiently synced up to contribute to calculations on ledger extension.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "max": 1,
          "min": 0,
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "yellow",
                "value": 20
              },
              {
                "color": "green",
                "value": 75
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 4,
        "w": 2,
        "x": 0,
        "y": 9
      },
      "id": 52,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {},
        "textMode": "auto"
      },
      "pluginVersion": "7.5.4",
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "max(ng_ledger_sync_sufficiently_synced_up_nodes_total{container=\"data-aggregator\", })",
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        }
      ],
      "title": "Synced Up Nodes",
      "type": "stat"
    },
    {
      "datasource": "${prometheus}",
      "description": "The number of nodes which are sufficiently synced up to contribute to calculations on ledger extension.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "min": 0,
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "yellow",
                "value": 20
              },
              {
                "color": "green",
                "value": 75
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 4,
        "w": 2,
        "x": 2,
        "y": 9
      },
      "id": 86,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {},
        "textMode": "auto"
      },
      "pluginVersion": "7.5.4",
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "max(ceil(ng_ledger_sync_sufficiently_synced_up_nodes_total{container=\"data-aggregator\", }\n* ng_ledger_sync_trust_weighting_required_for_quorum_total{container=\"data-aggregator\", }\n/ ng_ledger_sync_sufficiently_synced_up_nodes_trust_weighting_total{container=\"data-aggregator\", }\n))",
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        }
      ],
      "title": "Nodes to commit",
      "type": "stat"
    },
    {
      "datasource": "${prometheus}",
      "description": "The number of nodes which are sufficiently synced up to contribute to calculations on ledger extension.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "blue",
            "mode": "fixed"
          },
          "mappings": [],
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 4,
        "w": 2,
        "x": 0,
        "y": 13
      },
      "id": 91,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {},
        "textMode": "auto"
      },
      "pluginVersion": "7.5.4",
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "max(max_over_time(ng_ledger_commit_tip_state_version{container=\"data-aggregator\", }[$__interval]))",
          "interval": "",
          "legendFormat": "State Version",
          "refId": "A"
        }
      ],
      "title": "DB State Version",
      "type": "stat"
    },
    {
      "datasource": "${prometheus}",
      "description": "The highest seen target state version across nodes, minus the database state version.\n\nThis can be negative because the Core API can report a target state version less than its ledger tip somehow.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "fixedColor": "yellow",
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "#EAB839",
                "value": 10
              },
              {
                "color": "red",
                "value": 100
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 4,
        "w": 2,
        "x": 2,
        "y": 13
      },
      "id": 92,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {},
        "textMode": "auto"
      },
      "pluginVersion": "7.5.4",
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "max(max_over_time(ng_node_ledger_target_state_version{container=\"data-aggregator\", }[$__interval]))\n- max(max_over_time(ng_ledger_commit_tip_state_version{container=\"data-aggregator\", }[$__interval]))",
          "interval": "",
          "legendFormat": "Lag",
          "refId": "A"
        }
      ],
      "title": "Target Lag",
      "type": "stat"
    },
    {
      "datasource": "${prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "red",
                "value": null
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 12,
        "w": 8,
        "x": 4,
        "y": 13
      },
      "id": 90,
      "interval": "200ms",
      "maxDataPoints": 120,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "multi",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "pluginVersion": "8.3.3",
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "max by (node) (max_over_time(ng_node_ledger_tip_state_version{container=\"data-aggregator\"}[$__interval]))\n- ignoring (node) group_left max(max_over_time(ng_ledger_commit_tip_state_version{container=\"data-aggregator\"}[$__interval]))",
          "format": "time_series",
          "instant": false,
          "interval": "",
          "intervalFactor": 1,
          "legendFormat": "{{node}}",
          "refId": "A"
        }
      ],
      "title": "Node state version vs Gateway DB",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "Broken down by worker, node and error.\n(Summed over each interval)",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "bars",
            "fillOpacity": 50,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "noValue": "0",
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "none"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 12,
        "w": 6,
        "x": 12,
        "y": 13
      },
      "id": 80,
      "interval": "15s",
      "maxDataPoints": 50,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "table",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "multi",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(increase(ng_workers_global_error_count{ container=\"data-aggregator\"}[$__interval])) by (worker, error) > 0",
          "interval": "",
          "intervalFactor": 1,
          "legendFormat": "{{worker}} ({{error}})",
          "refId": "A"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(increase(ng_workers_node_error_count{ container=\"data-aggregator\"}[$__interval])) by (worker, node, error) > 0",
          "hide": false,
          "interval": "",
          "intervalFactor": 1,
          "legendFormat": "{{node}}: {{worker}} ({{error}})",
          "refId": "B"
        }
      ],
      "title": "Worker error count",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 9,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "s"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 12,
        "w": 6,
        "x": 18,
        "y": 13
      },
      "id": 67,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "multi",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "histogram_quantile(0.9, avg(rate(ng_node_fetch_transaction_batch_time_seconds_bucket{ container=\"data-aggregator\"}[5m])) by (le, node))",
          "format": "time_series",
          "interval": "",
          "legendFormat": "{{node}}",
          "refId": "A"
        }
      ],
      "title": "P90 transaction batch fetch time",
      "type": "timeseries"
    },
    {
      "collapsed": false,
      "datasource": "${prometheus}",
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 25
      },
      "id": 42,
      "panels": [],
      "title": "Gateway API",
      "type": "row"
    },
    {
      "datasource": "${prometheus}",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [
            {
              "options": {
                "0": {
                  "index": 1,
                  "text": "Unhealthy"
                },
                "1": {
                  "index": 0,
                  "text": "OK"
                }
              },
              "type": "value"
            },
            {
              "options": {
                "from": 0,
                "result": {
                  "index": 2,
                  "text": "Degraded"
                },
                "to": 1
              },
              "type": "range"
            }
          ],
          "max": 1,
          "min": 0,
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "yellow",
                "value": 20
              },
              {
                "color": "green",
                "value": 75
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 4,
        "w": 2,
        "x": 0,
        "y": 26
      },
      "id": 53,
      "options": {
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": true,
        "text": {}
      },
      "pluginVersion": "7.5.4",
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(aspnetcore_healthcheck_status{ name=\"readonly_database_connection_check\", container=\"gateway-api\"}) / count(aspnetcore_healthcheck_status{ name=\"readonly_database_connection_check\", container=\"gateway-api\"})",
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        }
      ],
      "title": "RO Database Connections",
      "type": "gauge"
    },
    {
      "datasource": "${prometheus}",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [
            {
              "options": {
                "0": {
                  "index": 1,
                  "text": "Unhealthy"
                },
                "1": {
                  "index": 0,
                  "text": "OK"
                }
              },
              "type": "value"
            },
            {
              "options": {
                "from": 0,
                "result": {
                  "index": 2,
                  "text": "Degraded"
                },
                "to": 1
              },
              "type": "range"
            }
          ],
          "max": 1,
          "min": 0,
          "thresholds": {
            "mode": "percentage",
            "steps": [
              {
                "color": "red",
                "value": null
              },
              {
                "color": "yellow",
                "value": 20
              },
              {
                "color": "green",
                "value": 75
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 4,
        "w": 2,
        "x": 2,
        "y": 26
      },
      "id": 54,
      "options": {
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "showThresholdLabels": false,
        "showThresholdMarkers": true,
        "text": {}
      },
      "pluginVersion": "7.5.4",
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(aspnetcore_healthcheck_status{ name=\"readwrite_database_connection_check\", container=\"gateway-api\"}) / count(aspnetcore_healthcheck_status{ name=\"readwrite_database_connection_check\", container=\"gateway-api\"})",
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        }
      ],
      "title": "RW Database Connection",
      "type": "gauge"
    },
    {
      "datasource": "${prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "reqps"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byRegexp",
              "options": "^Value.*$"
            },
            "properties": [
              {
                "id": "displayName",
                "value": "HealthCheck"
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 13,
        "w": 9,
        "x": 4,
        "y": 26
      },
      "id": 4,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "multi",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(http_requests_received_total{ container=\"gateway-api\"}[5m])) by (action)",
          "interval": "",
          "legendFormat": "{{action}}",
          "refId": "A"
        }
      ],
      "title": "Requests by action",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "s"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byRegexp",
              "options": "^Value.*$"
            },
            "properties": [
              {
                "id": "displayName",
                "value": "HealthCheck"
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 13,
        "w": 11,
        "x": 13,
        "y": 26
      },
      "id": 73,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "multi",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "histogram_quantile(0.95, sum(rate(http_request_duration_seconds_bucket{code=~\"[23]..\", container=\"gateway-api\"}[5m])) by (le, action))",
          "interval": "",
          "legendFormat": "{{action}}",
          "refId": "A"
        }
      ],
      "title": "P95 response latency by action (in preceding 5 mins)",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "reqps"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 12,
        "w": 6,
        "x": 0,
        "y": 39
      },
      "id": 2,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(http_requests_received_total{ container=\"gateway-api\"}[5m])) by (code)",
          "interval": "",
          "legendFormat": "{{code}}",
          "refId": "A"
        }
      ],
      "title": "Response HTTP Status Codes",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 10,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "s"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 12,
        "w": 7,
        "x": 6,
        "y": 39
      },
      "id": 7,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "histogram_quantile(0.99, sum(rate(http_request_duration_seconds_bucket{code=~\"[23]..\", container=\"gateway-api\"}[5m])) by (le))",
          "interval": "",
          "legendFormat": "p99",
          "refId": "A"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "histogram_quantile(0.95, sum(rate(http_request_duration_seconds_bucket{code=~\"[23]..\", container=\"gateway-api\"}[5m])) by (le))",
          "hide": false,
          "interval": "",
          "legendFormat": "p95",
          "refId": "B"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "histogram_quantile(0.50, sum(rate(http_request_duration_seconds_bucket{code=~\"[23]..\",  container=\"gateway-api\"}[5m])) by (le))",
          "hide": false,
          "interval": "",
          "legendFormat": "p50",
          "refId": "C"
        }
      ],
      "title": "API percentile request latency",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 12,
        "w": 11,
        "x": 13,
        "y": 39
      },
      "id": 84,
      "maxDataPoints": 20,
      "options": {
        "displayLabels": [],
        "legend": {
          "displayMode": "table",
          "placement": "right",
          "values": [
            "value"
          ]
        },
        "pieType": "pie",
        "reduceOptions": {
          "calcs": [
            "last"
          ],
          "fields": "",
          "values": false
        },
        "text": {},
        "tooltip": {
          "mode": "single",
          "sort": "none"
        }
      },
      "pluginVersion": "8.3.3",
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": false,
          "expr": "topk(10, sum(increase(ng_gateway_response_error_count{ container=\"gateway-api\"}[$__range])) by (action, status_code, exception, gateway_error) > 0)",
          "instant": true,
          "interval": "",
          "legendFormat": "{{action}} {{status_code}} ({{exception}}, {{gateway_error}})",
          "refId": "A"
        }
      ],
      "title": "Top 10 API Errors in Time Period",
      "type": "piechart"
    },
    {
      "datasource": "${prometheus}",
      "description": "A large number here indicates either a delay between network commit and the aggregator ingestion (see graph above), a DB replication delay OR clock drift between the Gateway API/s and Network.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 9,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "yellow",
                "value": 10
              },
              {
                "color": "red",
                "value": 30
              }
            ]
          },
          "unit": "s"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Lag"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "green",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 11,
        "w": 6,
        "x": 0,
        "y": 51
      },
      "id": 89,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "multi",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "min(min_over_time(ng_gateway_ledger_tip_round_timestamp_gateway_api_clock_lag_at_last_request_seconds{ container=\"gateway-api\"}[$__interval]))",
          "interval": "",
          "legendFormat": "Min delay (across all requests and Gateway APIs)",
          "refId": "A"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "max(max_over_time(ng_gateway_ledger_tip_round_timestamp_gateway_api_clock_lag_at_last_request_seconds{ container=\"gateway-api\"}[$__interval]))",
          "hide": false,
          "interval": "",
          "legendFormat": "Max delay (across all requests and Gateway APIs)",
          "refId": "B"
        }
      ],
      "title": "Delay between Gateway API clock and Round Timestamp",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "bars",
            "fillOpacity": 50,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "reqps"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byRegexp",
              "options": "^Value.*$"
            },
            "properties": [
              {
                "id": "displayName",
                "value": "HealthCheck"
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 11,
        "w": 18,
        "x": 6,
        "y": 51
      },
      "id": 83,
      "maxDataPoints": 50,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "table",
          "placement": "right"
        },
        "tooltip": {
          "mode": "multi",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_gateway_response_error_count{ container=\"gateway-api\"}[$__interval])) by (action, status_code, exception, gateway_error) > 0",
          "interval": "",
          "legendFormat": "{{action}} {{status_code}} ({{exception}}, {{gateway_error}})",
          "refId": "A"
        }
      ],
      "title": "API Error Response Overview",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "red",
                "value": null
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 6,
        "x": 6,
        "y": 62
      },
      "id": 95,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "pluginVersion": "8.5.2",
      "targets": [
        {
          "datasource": "${prometheus}",
          "editorMode": "code",
          "exemplar": true,
          "expr": "ng_nodes_gateway_health_check_node_statuses{container=\"gateway-api\",status=\"HEALTHY_AND_SYNCED\"}",
          "interval": "",
          "legendFormat": "{{pod}}",
          "range": true,
          "refId": "Healthy"
        }
      ],
      "title": "Healthy Core APIs by Gateway",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "red",
                "value": null
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 6,
        "x": 12,
        "y": 62
      },
      "id": 96,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "pluginVersion": "8.5.2",
      "targets": [
        {
          "datasource": "${prometheus}",
          "editorMode": "code",
          "exemplar": true,
          "expr": "ng_nodes_gateway_health_check_node_statuses{container=\"gateway-api\",status=\"HEALTHY_BUT_LAGGING\"}",
          "interval": "",
          "legendFormat": "{{pod}}",
          "range": true,
          "refId": "Healthy"
        }
      ],
      "title": "Lagging Core APIs by Gateway",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 1,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "red",
                "value": null
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 8,
        "w": 6,
        "x": 18,
        "y": 62
      },
      "id": 97,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "single",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "pluginVersion": "8.5.2",
      "targets": [
        {
          "datasource": "${prometheus}",
          "editorMode": "code",
          "exemplar": true,
          "expr": "ng_nodes_gateway_health_check_node_statuses{container=\"gateway-api\",status=\"UNHEALTHY\"}",
          "interval": "",
          "legendFormat": "{{pod}}",
          "range": true,
          "refId": "Healthy"
        }
      ],
      "title": "Unhealthy Core APIs by Gateway",
      "type": "timeseries"
    },
    {
      "collapsed": false,
      "datasource": "${prometheus}",
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 70
      },
      "id": 61,
      "panels": [],
      "title": "Mempool and Transaction Submission",
      "type": "row"
    },
    {
      "datasource": "${prometheus}",
      "description": "Count of transactions needing resubmission",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 6,
        "w": 3,
        "x": 0,
        "y": 71
      },
      "id": 66,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {},
        "textMode": "auto"
      },
      "pluginVersion": "7.5.4",
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(ng_db_mempool_transactions_needing_resubmission_total{ container=\"data-aggregator\"}) by (container)",
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        }
      ],
      "title": "Resubmission queue",
      "type": "stat"
    },
    {
      "datasource": "${prometheus}",
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 5,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "/s"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Timeout failure"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "red",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Now missing"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "purple",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "First submitted to Gateway"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "green",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 12,
        "w": 9,
        "x": 3,
        "y": 71
      },
      "id": 63,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "multi",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_db_mempool_transactions_added_from_gateway_submission_count{ container=\"gateway-api\"}[5m]))",
          "hide": false,
          "interval": "",
          "legendFormat": "First submitted to Gateway",
          "refId": "Submitted to Gateway"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_db_mempool_transactions_added_from_node_mempool_count{ container=\"data-aggregator\"}[5m]))",
          "hide": false,
          "interval": "",
          "legendFormat": "Discovered in node mempool",
          "refId": "Added from Node Mempool"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_db_mempool_transactions_marked_as_missing_count{ container=\"data-aggregator\"}[5m]))",
          "interval": "",
          "legendFormat": "Now missing",
          "refId": "Marked as missing"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_db_mempool_transactions_assumed_in_node_mempool_after_resubmission_count{ container=\"data-aggregator\"}[5m]))",
          "hide": false,
          "interval": "",
          "legendFormat": "Resubmitted",
          "refId": "Marked as resubmitted"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_db_mempool_transactions_reappeared_count{ container=\"data-aggregator\"}[5m]))",
          "hide": false,
          "interval": "",
          "legendFormat": "Reappeared",
          "refId": "Marked as reappeared"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_db_mempool_transactions_marked_as_failed_for_timeout_count{ container=\"data-aggregator\"}[5m]))",
          "hide": false,
          "interval": "",
          "legendFormat": "Timeout failure",
          "refId": "Marked as failed for timeout"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_db_mempool_transactions_marked_failed_from_initial_submission_count{ container=\"gateway-api\"}[5m]))",
          "hide": false,
          "interval": "",
          "legendFormat": "Failed at submission",
          "refId": "Marked as failed from initial submission"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_db_mempool_transactions_marked_failed_during_resubmission_count{ container=\"data-aggregator\"}[5m]))",
          "hide": false,
          "interval": "",
          "legendFormat": "Failed at resubmission",
          "refId": "Marked as failed from resubmission"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_db_mempool_transactions_marked_resolved_but_unknown_status_count{ container=\"data-aggregator\"}[5m]))",
          "hide": false,
          "interval": "",
          "legendFormat": "Yet unknown resolution",
          "refId": "Marked as resolved but unknown"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_db_mempool_transactions_marked_committed_count{ container=\"data-aggregator\"}[5m]))",
          "hide": false,
          "interval": "",
          "legendFormat": "Committed",
          "refId": "Marked committed"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_db_mempool_transactions_marked_committed_which_were_failed_count{ container=\"data-aggregator\"}[5m]))",
          "hide": false,
          "interval": "",
          "legendFormat": "Committed after failed",
          "refId": "Marked committed when previously failed"
        }
      ],
      "title": "Mempool transaction status changes",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "The mempool union can lag slightly behind individual nodes, as we combine the latest snapshot of the node mempools regularly.\n\nIt also only includes transactions we've managed to read the contents of we can \"miss\" transactions which leave the mempool before we managed to read their contents.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 9,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 12,
        "w": 7,
        "x": 12,
        "y": 71
      },
      "id": 65,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "multi",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "pluginVersion": "8.3.3",
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "avg(ng_node_mempool_combined_current_size_total{container=\"data-aggregator\"})",
          "hide": false,
          "interval": "",
          "legendFormat": "Mempool union across all nodes",
          "refId": "B"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "avg(ng_node_mempool_size_total{ container=\"data-aggregator\"}) by (node)",
          "interval": "",
          "legendFormat": "Node: {{node}}",
          "refId": "A"
        }
      ],
      "title": "Mempool size by node",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "The DB table gets pruned regularly. Committed currently get pruned after a few seconds, Failed/Missing after a week. \n\nExcessive MISSING typically indicates a race condition between non-Gateway Txns being discovered in a mempool and being committed to the DB ledger.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 1,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "FAILED"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "red",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "MISSING"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "purple",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "IN_NODE_MEMPOOL"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "yellow",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 12,
        "w": 5,
        "x": 19,
        "y": 71
      },
      "id": 79,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "multi",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "avg(ng_db_mempool_size_by_status_total{ container=\"data-aggregator\"}) by (status)",
          "interval": "",
          "legendFormat": "{{status}}",
          "refId": "A"
        }
      ],
      "title": "DB Mempool Transactions table size by status",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "Count of any pending transactions temporarily marked as failed before being marked as committed in the last 24h. We don't want this to ever happen.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 1
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 6,
        "w": 3,
        "x": 0,
        "y": 77
      },
      "id": 75,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "text": {},
        "textMode": "auto"
      },
      "pluginVersion": "7.5.4",
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(increase(ng_db_mempool_transactions_marked_committed_which_were_failed_count{ container=\"data-aggregator\"}[24h])) or vector(0)",
          "interval": "",
          "legendFormat": "",
          "refId": "A"
        }
      ],
      "title": "Txn Status Flips [24h]",
      "type": "stat"
    },
    {
      "datasource": "${prometheus}",
      "description": "The Attempt/Error/Success lines show the request response. The Result: X lines show what happened at initial submission to a node.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 0,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineStyle": {
              "fill": "solid"
            },
            "lineWidth": 2,
            "pointSize": 1,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          },
          "unit": "reqps"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Attempt"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "yellow",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Success"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "green",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Error"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "red",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Result: success"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "dark-green",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 12,
        "w": 12,
        "x": 0,
        "y": 83
      },
      "id": 72,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "multi",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_construction_transaction_submission_request_count{ container=\"gateway-api\"}[$__interval]))",
          "interval": "",
          "legendFormat": "Attempt",
          "refId": "A"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_construction_transaction_submission_error_count{ container=\"gateway-api\"}[$__interval]))",
          "hide": false,
          "interval": "",
          "legendFormat": "Error",
          "refId": "B"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_construction_transaction_submission_success_count{ container=\"gateway-api\"}[5m]))",
          "hide": false,
          "interval": "",
          "legendFormat": "Success",
          "refId": "C"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_construction_transaction_submission_resolution_count{ container=\"gateway-api\"}[5m])) by (result)",
          "hide": false,
          "interval": "",
          "legendFormat": "Result: {{result}}",
          "refId": "D"
        }
      ],
      "title": "Initial transaction submission node requests",
      "type": "timeseries"
    },
    {
      "datasource": "${prometheus}",
      "description": "The Attempt/Error/Success lines show the overall status of the resubmission request made to the node. The Result: X lines show a more detailed view by error code.",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "palette-classic"
          },
          "custom": {
            "axisLabel": "",
            "axisPlacement": "auto",
            "axisSoftMax": 1,
            "barAlignment": 0,
            "drawStyle": "line",
            "fillOpacity": 9,
            "gradientMode": "none",
            "hideFrom": {
              "graph": false,
              "legend": false,
              "tooltip": false,
              "viz": false
            },
            "lineInterpolation": "linear",
            "lineWidth": 2,
            "pointSize": 5,
            "scaleDistribution": {
              "type": "linear"
            },
            "showPoints": "auto",
            "spanNulls": false
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "reqps"
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "Error"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "red",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Attempt"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "yellow",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "Success"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "green",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 12,
        "w": 12,
        "x": 12,
        "y": 83
      },
      "id": 69,
      "options": {
        "legend": {
          "calcs": [],
          "displayMode": "list",
          "placement": "bottom"
        },
        "tooltip": {
          "mode": "multi",
          "sort": "none"
        },
        "tooltipOptions": {
          "mode": "single"
        }
      },
      "targets": [
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_construction_transaction_resubmission_attempt_count{ container=\"data-aggregator\"}[5m]))",
          "interval": "",
          "legendFormat": "Attempt",
          "refId": "A"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_construction_transaction_resubmission_error_count{ container=\"data-aggregator\"}[5m]))",
          "hide": false,
          "interval": "",
          "legendFormat": "Error",
          "refId": "B"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_construction_transaction_resubmission_success_count{ container=\"data-aggregator\"}[5m]))",
          "hide": false,
          "interval": "",
          "legendFormat": "Success",
          "refId": "C"
        },
        {
          "datasource": "${prometheus}",
          "exemplar": true,
          "expr": "sum(rate(ng_construction_transaction_resubmission_resolution_count{ container=\"data-aggregator\"}[5m])) by (result)",
          "hide": false,
          "interval": "",
          "legendFormat": "Result: {{result}}",
          "refId": "D"
        }
      ],
      "title": "Transaction resubmission node requests",
      "type": "timeseries"
    }
  ],
  "refresh": false,
  "schemaVersion": 27,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": [
      {
        "current": {
          "selected": false,
          "text": "Prometheus",
          "value": "Prometheus"
        },
        "description": null,
        "error": null,
        "hide": 2,
        "includeAll": false,
        "label": null,
        "multi": false,
        "name": "prometheus",
        "options": [],
        "query": "prometheus",
        "refresh": 1,
        "regex": "Prometheus",
        "skipUrlSync": false,
        "type": "datasource"
      }
    ]
  },
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "Network Gateway",
  "uid": "network-gateway-01",
  "version": 2
}