version: '2.4'

services:
  prometheus:
    image: radixdlt/radixdlt-prometheus:latest
    restart: unless-stopped
    environment:
      PROMETHEUS_TSDB_RETENTION: 30d
    volumes:
      - "./prometheus/:/etc/prometheus/"
      - "prometheus_tsdb:/prometheus"
      - "nodes_lst:/nodes"
    ports:
      - "9090:9090"
    logging:
      options:
        max-size: "1m"
        max-file: "30"

  grafana:
      image: grafana/grafana:7.5.4
      ports:
          - "3000:3000"
      volumes:
        - "grafana-storage:/var/lib/grafana"
        - "./grafana/provisioning/:/etc/grafana/provisioning/"
volumes:
  nodes_lst:
  prometheus_tsdb:
    external: true
  grafana-storage:
    external: true
