[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
radixdlt_core_client = {git = "https://github.com/radixdlt/python-core-client", editable = true, ref = "1.0-beta.1"}
requests = "==2.26.0"
PyYAML = "==5.4.1"
deepmerge = "==0.3.0"
bech32 = "==1.2.0"
ecdsa = "==0.17.0"
cryptography="==36.0.1"

[requires]
python_version = "3.7.6"
